.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    &_light-theme {
        margin-right: 95px;
        color: var(--light-theme-text);
    }
    &_dark-theme {
        color: var(--dark-theme-text);
    }
    &__accent {
        color:  var(--accept-color);
    }
}
